html,
body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* html {
  overflow: hidden;
} */
.body_hide {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
}
.body_visible {
  opacity: 1;
}
body.lock {
  overflow: hidden;
}
button {
  padding: 0;
  border: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.main__page-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60.401%;
  margin: 0 auto;
}
.header-wrapper {
  padding: 1.475% 0;
}
.main__page-header {
  background: #172027;
}
.action-icon {
  fill: none;
  fill: white;
}
.telegram {
  width: 30px;
  height: 25px;
}
.whatsup {
  width: 30px;
  height: 30px;
}
.viber {
  width: 29px;
  height: 32px;
}
.tel__icon {
  width: 14px;
  height: 14px;
}
.header__items {
  display: flex;
  align-items: center;
  width: 45%;
}
.action-icon {
  transition: 0.2s linear 0.1s;
}
.action-icon:hover,
.action-icon:focus {
  fill: #18dc6d;
}
.header__item:not(:first-child) {
  margin-left: 4.31%;
}
.header__item:last-child {
  display: flex;
}
.item__action {
  display: flex;
  align-items: center;
}
.item-wrapper {
  margin: 0 0 0 2%;
  display: flex;
  align-items: center;
}
.tel {
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s linear 0.1s;
}
.tel:hover,
.tel:focus {
  color: #18dc6d;
}
.img-item {
  width: 100%;
  height: 100%;
}
.call-item {
  width: 100%;
  height: 40px;
}
.item__button-wrapper {
  margin: 0 0 0 5%;
  width: 49.94%;
}
.item__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
  box-shadow: 0px 9px 48px rgba(24, 220, 109, 0.15);
  border-radius: 43px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  border: none;
  cursor: pointer;
  transition: 0.5s linear 0.1s;
}
.action-logo {
  transition: 0.1s linear 0.1s;
}
.action-logo:hover,
.action-logo:focus {
  box-shadow: 0px 9px 48px #22303a;
}
.page-catalog,
.page-map,
.page-news,
.page-footer {
  background-color: white;
  overflow: hidden;
}

.page-advantages {
  overflow: hidden;
}
.item__button:hover,
.item__button:focus {
  background: #ffffff;
  border: 1px solid #18de6e;
  box-sizing: border-box;
  border-radius: 43px;
  color: #18de6e;
}
.main__page-nav {
  background: #fff;
  padding: 0.843% 0;
}
.nav-items {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.action-text {
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  color: #0f0f10;
  transition: 0.2s linear 0.1s;
}
.action-text:focus,
.action-text:hover {
  color: #fd020b;
}
.main__page-body {
}
.main__page-first__screen {
  width: 100%;
  background: url(../img/sq.png) no-repeat;
  position: relative;
}
.first__screen-img {
  position: absolute;
  top: 12.75%;
  right: 6.3023%;
}
.first-screen-blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blackout-img {
  width: 100%;
  height: 100%;
}
.item-svg {
  fill: none;
  fill: white;
  width: 100%;
  height: 100%;
  max-height: 55px;
  max-width: 55px;
  margin-right: 6.86%;
}
.first__screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 11.1115% 0 3.988%;
  position: relative;
}
.first__screen-offer {
  width: 100%;
  max-width: 550px;
}
.offer__title {
  font-size: 2.4rem;
  line-height: 0.93;
  margin-bottom: 3.637%;
  font-weight: 700;
}
.offer__description {
  font-size: 1.2rem;
  line-height: 1.12;
  margin-bottom: 4.547%;
  width: 100%;
  max-width: 487px;
  font-weight: 300;
}
.offer__btns {
  min-height: 52px;
  position: relative;
}
.offer__btn {
  height: 100%;
  width: 47.82%;
  position: absolute;
  border-radius: 43px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s linear 0.1s;
  font-weight: 700;
}
.test-btn {
  background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
  box-shadow: 0px 9px 48px rgb(24 220 109 / 15%);
}
.rent-btn {
  right: 0;
  background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
  box-shadow: 0px 9px 48px rgba(211, 61, 52, 0.24);
}
.first__screen-blocks {
  margin-top: 15.37%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 998px;
}
.blocks-item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 277px;
}
.group-svg {
  max-height: 65px;
  max-width: 65px;
}
.item-description {
  font-weight: 300;
  font-size: 0.93rem;
}
.main__page-catalog {
  width: 100%;
}
.nav-wrapper {
  height: 100%;
}
.catalog-items__wrapper,
.catalog-wrapper {
  padding: 5.056% 0 5.266%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.catalog-items__wrapper {
  margin-top: 0;
  padding: 5.266% 0 5.266%;
}
.view-auto__img-extra {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.img-main {
  width: 100%;
  filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
  border-radius: 10px;
  transition: 0.5s linear 0.1s;
}
.page-wrapper__view-auto {
  width: 100%;
  display: grid;
  grid-template-columns: 757fr 388fr;
}
.view-auto__features {
  height: 79%;
  padding-left: 5.146%;
}
.features {
  display: flex;
  color: #0f0f10;
  font-weight: 400;
  justify-content: space-between;
}
.page-wrapper__view-description {
  margin-top: 4.97%;
}
.view-description__title,
.view-description__text {
  color: #0f0f10;
}
.page__view-car {
  display: flex;
}
.view-description__title {
  font-weight: 700;
  font-size: 1.5rem;
}
.text__sentence {
  font-size: 0.95rem;
}
.text-title {
  margin-bottom: 20px;
}
.view-description__text {
  margin-top: 2.965%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text__sentence:not(:last-child) {
  margin-bottom: 20px;
}
.view-action {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 100%;
  border-radius: 43px;
  max-width: 263px;
  max-height: 52px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.5s linear 0.1s;
}
.action__sign-up {
  left: 25%;
  background: linear-gradient(360deg, #077a34 0%, #19e270 100%);
}
.action__rent {
  left: 53%;
  background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
  box-shadow: 0px 9px 48px rgba(211, 61, 52, 0.24);
}
.action__sign-up:hover,
.action__sign-up:focus,
.test-btn:hover,
.test-btn:focus {
  background: #ffffff;
  border: 1px solid #18de6e;
  color: #18de6e;
}
.action__rent:hover,
.action__rent:focus,
.catalog-btn:focus,
.catalog-btn:hover,
.rent-btn:focus,
.rent-btn:hover {
  background: #ffffff;
  border: 1px solid #e31e24;
  color: #e31e24;
}
.catalog__main-btn:hover {
  color: #e31e24;
}
.page-wrapper__view-actions {
  position: relative;
  min-height: 105px;
  width: 100%;
}
.features-name {
  font-weight: 700;
}
.features-description {
  font-weight: 1rem;
}
.news__item-description {
  padding-left: 12.208%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: text;
}
.description-reverse {
  padding-left: 0;
  padding-right: 12.208%;
}
.form-title {
  font-size: 1.1111rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 2.157%;
}
.form-items {
  display: flex;
  flex-direction: column;
}
.form-item {
  border: transparent;
  outline: none;
}
.item__name-screen {
  margin-top: 8.37%;
}
.item__btn {
  width: 22.93%;
  position: relative;
  min-height: 52px;
}
.form-item:not(:last-child) {
  margin-bottom: 2.587%;
}
.item-input-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.587%;
}
input[type="radio"],
label {
  cursor: pointer;
}
input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #18de6e;
}
label {
  width: 95%;
  font-size: 0.8rem;
  color: #000000;
}
.item-input {
  font-size: 0.9rem;
  box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
  padding: 3.665% 7.33%;
  min-height: 18px;
  border-radius: 43px;
  transition: 0.5s linear 0.1s;
  border: 1px solid #fff;
}
.item-input:hover,
.item-input:focus {
  border: 1px solid #18de6e;
}
.item-radio {
}
.form-btn__wrapper {
  position: relative;
  min-height: 52px;
  width: 100%;
}
.form-btn {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.item-textarea {
  min-height: 78px;
  border-radius: 10px;
}
.form-subtitle {
  font-size: 0.9333rem;
  color: #000000;
  margin-bottom: 8.19%;
}
.proposition__form {
  box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
  padding: 6.976% 5.232%;
}
.page-map__proposition-wrapper {
  width: 60.401%;
  margin: 0 auto;
  padding: 5.266% 0 5.266%;
}
.proposition-item {
  height: 100%;
  width: 100%;
  display: flex;
}
.proposition__img-wrapper {
  height: 100%;
  max-height: 581px;
  filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
}
.questions-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.questions-title {
  font-weight: 700;
  font-size: 1.1rem;
  max-width: 950px;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  cursor: pointer;
  transition: 0.7s linear 0.1s;
  outline: none;
}
.questions-item:not(:last-child) {
  margin-bottom: 15px;
}
.questions-item {
  height: 100%;
  padding: 1.745% 0 1.745% 3.488%;
  box-sizing: border-box;
  box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
  border-radius: 43px;
  position: relative;
  transition: 0.7s linear 0.1s;
}
.arrow-svg {
  width: 13px;
  height: 13px;
  padding: 10px 10px;
  fill: white;
  transition: 0.2s linear 0.1s;
}
.questions-name {
  display: flex;
  justify-content: space-between;
}
.questions-item.active {
  max-height: 197px;
  border-radius: 10px;
}
.questions-item.active .questions-title {
  color: #18dc6d;
}
.questions-item.active .questions-text {
  margin-top: 1.175%;
  height: 84px;
  opacity: 1;
}
.questions-text {
  width: 84%;
  height: 0;
  opacity: 0;
  font-size: 0.83rem;
  color: rgb(0, 0, 0);
  /* transition: 0.5 ease-in-out; */
  transition: 0.7s linear 0.1s;
}
.questions-btn {
  top: 25%;
  right: 5%;
  position: absolute;
  min-width: 32px;
  border: 1px solid #18dc6d;
  background: #18dc6d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear 0.1s;
}
.questions-btn:hover,
.questions-btn:focus {
  background: #fff;
  border: 1px solid #18de6e;
  box-sizing: border-box;
}
.arrow-svg:focus,
.arrow-svg:hover {
  fill: #18de6e;
}
.news__item-reverse {
}
.news__item-description--btn {
  height: 100%;
  max-height: 52px;
  position: relative;
}
.action__detail {
  position: absolute;
  top: 0;
  left: 0;
}
.news__title {
  color: #0f0f10;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 2.98%;
}
.news__item-description--subtitle {
  line-height: 1.2;
  margin-bottom: 2.98%;
}
.features-names {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 73.6%;
  padding: 7.599% 5.428% 7.056%;
  margin-top: 14.92%;
  box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
  border-radius: 10px;
}
.description__title {
  color: #0f0f10;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}
.view-auto__imgs {
  display: flex;
  flex-direction: column;
}
.view-img {
  width: 175px;
  cursor: pointer;
}
.nav-dark {
  background: #f2f2f3;
}
.view-auto__img-action {
  width: 20px;
  height: 20px;
  border-top: 4px solid #c6c5c5;
  border-right: 4px solid #c6c5c5;
  opacity: 0.5;
  margin-right: 20px;
  position: absolute;
  top: 54px;
  left: -20px;
}
.view-auto__img-main {
  min-width: 758px;
  min-height: 569px;
  margin-bottom: 2.639%;
  /* background: url("../img/car2.jpg") left 0% / 100% no-repeat; */
}
.arrow-right {
  transform: rotate(45deg);
  left: 755px;
}
.arrow-left {
  transform: rotate(-135deg);
}
.article__page-wrapper {
  padding: 5.266% 0 5.266%;
  width: 39.811%;
  margin: 0 auto;
}
.name-screen {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1;
  color: black;
  margin-bottom: 6.104%;
  max-width: 670px;
}
.news__items-wrapper {
  color: #000000;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 431fr);
}
.news-item__img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 561px;
  max-height: 331px;
  grid-area: img;
}
.news__item,
.news__item-reverse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
  min-height: 331px;
}
.news__item-reverse {
  grid-template-areas: "text img";
}
.news__item:not(:last-child) {
  margin-bottom: 8.719%;
}
.catalog__cards-wrapper {
  width: 100%;
}
.catalog__cards-wrapper--items {
  display: grid;
  grid-template-columns: 388fr 388fr 388fr;
  grid-template-rows: 700fr 700fr 700fr 700fr 700fr;
}
.catalog__items-slider.slider__item-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.catalog__items-slider.slider__item-next {
  transform: translateX(100%);
}
.catalog__items-slider.slider__item-last {
  transform: translateX(-100%);
}

.news__items-slider.news-slider__item-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.news__items-slider.news-slider__item-next {
  transform: translateX(100%);
}
.news__items-slider.news-slider__item-last {
  transform: translateX(-100%);
}
.catalog__items-slider {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.2s linear 0.1s;
}
.article-item__new-title {
  font-size: 1.5rem;
  line-height: 1;
  color: #000000;
  margin-bottom: 3.97%;
  max-width: 100%;
}
.article-wrapper {
  margin-bottom: 3.97%;
}
.last-sentence {
  margin-bottom: 0;
}
.article-item__description-sentence {
  color: #000000;
}
.article-item__description-sentence:not(:last-child) {
  margin-bottom: 2.646%;
}
.article-item:not(:last-child) {
  margin-bottom: 7.54%;
}
.catalog-items {
  min-height: 700px;
  position: relative;
  width: 100%;
  box-shadow: 0px 9px 49px rgba(142, 136, 136, 0.16);
}
.article-item__img-wrapper {
  width: 100%;
}
.article-item__title {
  font-size: 1.5rem;
  line-height: 1;
  max-width: 466px;
  color: #000000;
  margin-bottom: 3.97%;
}
.article-item__description {
  color: #000000;
  font-size: 0.9rem;
  margin-bottom: 3.97%;
}
/* .catalog-item:not(:last-child) {
  margin-right: 1.631%;
} */
.catalog-item {
  box-shadow: 0px 9px 49px rgba(142, 136, 136, 0.16);
  border-radius: 10px;
  max-height: 693px;
  transition: 0.2s linear 0.1s;
}
.catalog-item:not(:last-child) {
  margin-right: 1.745%;
}

.catalog-item__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 52px;
  position: relative;
}
.item__name-wrapper {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1;
  color: black;
  margin-top: 34px;
  text-align: center;
}
.action__detailed {
  position: absolute;
  top: 0;
  left: 15%;
}
.catalog-item__description {
  color: black;
  margin: 7.067% 9.514% 0;
}
.description {
  display: grid;
  grid-template-columns: 65fr 35fr;
}
.description:not(:last-child) {
  margin-bottom: 6.715%;
}
.feature-svg {
  width: 12.1%;
  height: 28px;
  margin-right: 6.482%;
}
.feature {
  display: flex;
  align-items: center;
}
.feature__name {
  display: flex;
  align-items: center;
  width: 100%;
}
.feature-name {
  font-weight: 700;
  margin-left: 15px;
}
.catalog-btn {
  margin: 5.232% auto 0;
  min-height: 52px;
  width: 100%;
  max-width: 263px;
  border: 1px solid #e31e24;
  background: linear-gradient(360deg, #a8180f 0%, #dd463d 100%);
  box-shadow: 0px 9px 48px rgb(211 61 52 / 24%);
  border-radius: 43px;
  position: relative;
}

.catalog__main-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transition: 0.5s linear 0.1s;
}
.main__page-advantages {
  background: #eeeeee;
  box-shadow: 0px 9px 49px rgba(142, 136, 136, 0.16);
}
.general-wrapper,
.page__map-wrapper,
.page__news-wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.056% 0 2.976%;
}
.page__map-wrapper {
  padding: 5.056% 0 0;
}
.page__news-wrapper {
  padding: 5.056% 0 4.792%;
}
.advantages-svg {
  width: 76px;
  height: 76px;
  fill: #18de6e;
}
.advantages-item {
  display: grid;
  grid-template-columns: 20fr 80fr;
}
.advantages-item:first-child,
.advantages-item:nth-child(2),
.advantages-item:nth-child(3) {
  margin-bottom: 13.955%;
}
.advantages-item:first-child,
.advantages-item:nth-child(4) {
  margin-right: 15.8%;
}
.advantages-item:nth-child(2),
.advantages-item:nth-child(5) {
  margin-right: 7.9%;
}
.advantages-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.advantages-text {
  color: #0f0f10;
  margin-left: 8.209%;
}
.advantages-title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 4.47%;
}
.advantages-description {
  font-size: 0.9rem;
}
.track-svg {
  width: 73px;
  height: 73px;
}
.growth-svg {
  width: 60px;
  height: 60px;
  padding: 13.17% 0 0 19.76%;
}
.main__page-map {
  width: 100%;
}
.map-wrapper {
  width: 100%;
  height: 100%;
  max-height: 785px;
}
.main__page-news {
  width: 100%;
}
.news-items {
  width: 100%;
  position: relative;
  min-height: 480px;
}
.news__items-slider {
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(3, 33.3fr);
  gap: 2%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.2s linear 0.1s;
}
.news-item {
  width: 100%;
  height: 100%;
}
.item__img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 368px;
  max-height: 217px;
}
.catalog__img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 375px;
  max-height: 277px;
}
.item-radio {
  display: none;
}
.label-radio {
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all 0.8s ease 0s;
}
.content__description-form.error .form-btn {
  background: #c6c5c5;
}
.content__description-form.error .form-btn:hover,
.content__description-form.error .form-btn:focus {
  border: 1px solid #c6c5c5;
  box-shadow: 0px 9px 48px #c6c5c5;
  color: #fff;
}
/* .content__description-form.error .form__select-item {
  color: #e31e24;
} */
.label-radio::before {
  content: "";
  flex: 0 0 11px;
  height: 11px;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #c6c5c5;
  margin-right: 7px;
}
.form__select-item--data.error,
.form__select-item--time.error {
  border: 1px solid #e31e24;
  box-shadow: 0 0 5px #e31e24;
}
.popup__input.error {
  border: 1px solid #e31e24;
  box-shadow: 0 0 5px #e31e24;
}
.item-input-wrapper .proposition-radio::after {
  top: 6px;
}
.item-input-wrapper .proposition-radio {
  font-size: 0.76rem;
}
.popup__input.error::placeholder {
  color: #e31e24;
}
.item-input-wrapper.error .label-radio::before {
  border: 1px solid #e31e24;
  box-shadow: 0 0 5px #e31e24;
}
.item-input-wrapper.error .label-radio {
  color: #e31e24;
}
.label-radio::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 5px;
  height: 5px;
  background-color: #18dc6d;
  border: 1px solid #18dc6d;
  border-radius: 50%;
  transform: scale(0);
}

.item-radio:checked + .label-radio::after {
  transform: scale(1);
}
.item-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
}
.item__title-action {
  font-size: 1.2rem;
  line-height: 1.07;
  font-weight: 700;
  margin: 10.9% 0 3.27%;
}
.title-action:hover,
.title-action:focus {
  color: #18dc6d;
}
.title-action {
  width: 100%;
  text-decoration: none;
  color: #0f0f10;
  transition: 0.2s linear 0.1s;
}
.item__description-news {
  font-size: 0.9rem;
  line-height: 1.1;

  color: #0f0f10;
}
.item__cards-cars {
  height: 97%;
  width: 100%;
  max-width: 368px;
  transition: 0.2s linear 0.1s;
}
.item__cards-cars:hover {
  box-shadow: 0 15px 20px rgba(17, 20, 19, 0.4);
  color: white;
  transform: translateY(-7px);
  cursor: pointer;
}
.catalog-item:hover {
  box-shadow: 0 15px 20px rgba(17, 20, 19, 0.4);
  color: white;
  transform: translateY(7px);
  cursor: pointer;
}
.arrow-1,
.arrow-2 {
  position: relative;
  top: 30px;
  left: -15px;
  display: block;
  transition: 0.2s linear 0.1s;
}
.arrow-1__action,
.arrow-2__action {
  display: block;
  width: 100%;
  height: 100%;
}
.arrow-1 ::after,
.arrow-2 ::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: #000000;
  transform: rotate(45deg);
}
.arrow-1 ::after {
  top: 11px;
  right: 8px;
}
.arrow-1 ::before,
.arrow-2 ::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.arrow-1 ::before {
  top: -11px;
  right: 8px;
}
.docs__item-action {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3888rem;
  font-weight: 700;
  color: #0f0f10;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  /* transition: 0.2s linear 0.1s; */
}
/* .docs__item-action:hover,
.docs__item-action:focus {
  background: #0f0f10;
  color: #fff;
  border-radius: 50%;
} */
.docs__item-active {
  background: #0f0f10;
  color: #fff;
  border-radius: 50%;
}
/* .docs__item-active:hover,
.docs__item-active:focus {
  color: rgb(7, 177, 245);
} */
.arrow-1:hover {
  animation: arrow-1 1s linear infinite;
}
.arrow-2:hover {
  animation: arrow-2 1s linear infinite;
}
.arrow__no-click {
  display: none;
}
@keyframes arrow-2 {
  0% {
    left: -15px;
  }
  50% {
    left: -5px;
  }
  100% {
    left: -15px;
  }
}
@keyframes arrow-1 {
  0% {
    left: -15px;
  }
  50% {
    left: -25px;
  }
  100% {
    left: -15px;
  }
}
.catalog__page-docs {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 6.976%;
}

.page__docs-wrapper {
  height: 100%;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: flex-end;
}
.catalog__cards-items {
  width: 100%;
  min-height: 720px;
}
.docs__item {
  width: 73px;
  height: 73px;
  background: #c6c5c5;
  border-radius: 50%;
}
.arrow-1,
.arrow-2 {
  width: 73px;
  height: 73px;
  background-color: transparent;
  opacity: 1;
}
.docs__item-far {
  display: none;
}
.page__catalog-items {
  display: flex;
}
.page-nav {
  background: #f2f2f3;
}
.main__page-footer {
  background: #797c7d;
}
.footer-wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.056% 0;
}
.footer-items {
  margin-bottom: 6.626%;
}
.footer__action-text {
  color: #ffffff;
}
.footer__logo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__license-line {
  font-size: 0.9rem;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.popup__item,
.popup__item-question,
.popup__item-record,
.popup__item-rent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup__item.open,
.popup__item-question.open,
.popup__item-record.open,
.popup__item-rent.open {
  opacity: 1;
  visibility: visible;
}
.popup__item.open .popup__item__content,
.popup__item-question.open .popup__item-question--content,
.popup__item-record.open .popup__item-record--content,
.popup__item-rent.open .popup__item-rent--content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.img {
  /* width: 100%; */
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}
.content__img-wrapper {
  height: 100%;
}
.popup__item__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__item__content,
.popup__item-question--content,
.popup__item-record--content,
.popup__item-rent--content {
  min-width: 50.132%;
  display: flex;
  background-color: #fff;
  color: #000000;
  max-height: 473px;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
}
.popup__item-textarea {
  width: 85%;
}
.content__description .question-content__description-subtitle {
  margin-bottom: 8.987%;
}
.content__description .record-content__description-title {
  margin-bottom: 11.57%;
}
.img-rent {
  filter: drop-shadow(0px 5px 48px rgba(49, 47, 47, 0.1));
}
.content__description .rent-content__description-title {
  margin-bottom: 11.57%;
}
.popup__item-question--content {
  max-height: 613px;
}
.popup__item-record--content {
  max-height: 523px;
}
.popup__item-rent--content {
  max-height: 520px;
}
.content__description {
  padding: 7.406%;
}
.content__description-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1.23%;
  line-height: 1.3888;
}
.content__description-subtitle {
  font-size: 0.78rem;
  margin: 0 auto;
  text-align: center;
  max-width: 263px;
  margin-bottom: 12.27%;
}
.content__description-form {
  height: 69%;
}
.popup__input {
  width: 85%;
  transition: all 0.8s ease 0s;
}
.popup__input:not(:nth-child(2n)) {
  margin-bottom: 4.7%;
}
.popup__input:not(:first-child) {
  margin-bottom: 3.683%;
}
.form__select-items {
  display: flex;
  justify-content: space-between;
  width: 67.406%;
  margin-bottom: 4.53%;
}
.form__select-item {
  display: flex;
  flex-direction: column;
  width: 43.66%;
  font-size: 0.9rem;
  line-height: 2;
}
.form__select-item--data,
.form__select-item--time {
  box-shadow: 0px 5px 48px rgba(49, 47, 47, 0.1);
  border-radius: 43px;
  box-sizing: border-box;
  border-color: transparent;
  outline: none;
  min-height: 24px;
  padding-left: 12.83%;
}
.input__item-data,
.input__item-time {
  padding-left: 10%;
  min-width: 140px;
}
