body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
}
.fluent-calendar {
  width: 100%;
  min-width: 2334px;
  height: 1796px;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.central-panel {
  width: 100%;
  min-width: 1534px;
  box-sizing: border-box;
}
.central-panel__header {
  width: 100%;
  height: 100%;
  max-width: 1255px;
  max-height: 133px;
  margin: 83px 138px 0 142px;
  border-bottom: 2px solid #f3f3f3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.header-title {
  font-size: 1.2857rem;
  line-height: 1.4;
  color: #243d6f;
}
.header-icons {
  width: 100%;
  max-width: 126px;
  min-height: 36px;
}
.layout-icon__action {
  margin-left: 44px;
}
.search-icon {
  width: 37px;
  height: 37px;
}
.search-icon:hover {
  width: 39px;
  height: 39px;
  transition: 0.1s linear 0s;
}
.layout-icon {
  width: 36px;
  height: 36px;
}
.layout-icon:hover {
  width: 38px;
  height: 38px;
  transition: 0.1s linear 0s;
}
.search-icon__action {
  box-sizing: border-box;
  width: 37px;
  height: 37px;
}
.layout-icon__action {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.central-panel__schedule {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 1255px;
  max-height: 1381px;
  margin: 102px 140px 96px;
  position: relative;
}
.schedule-notice {
  position: absolute;
  left: 135px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 1120px;
  display: flex;
  justify-content: center;
}
.schedule__finance-notice {
  position: absolute;
  top: 15px;
  max-height: 124px;
  background: rgba(133, 118, 237, 0.15);
  border-left: 6px solid #8576ed;
}
.schedule__design-notice {
  position: absolute;
  top: 259px;
  max-height: 309px;
  background: rgba(61, 131, 249, 0.15);
  border-left: 6px solid #3d83f9;
}
.schedule__management-notice {
  position: absolute;
  top: 739px;
  max-height: 245px;
  background: rgba(238, 165, 124, 0.15);
  border-left: 6px solid #eea57c;
}
.schedule-notice__text {
  width: 100%;
  height: 100%;
  max-width: 985px;
  min-height: 33px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.1;
  color: #243d6f;
}

.schedule-time {
  font-size: 0.9285rem;
  color: #a4b0c3;
  margin-top: 91px;
  position: relative;
}
.schedule-time:first-child {
  margin-top: 0;
}
.schedule-time::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 135px;
  display: block;
  box-sizing: border-box;
  width: 89%;
  height: 2px;
  background: #f3f3f3;
  z-index: -1;
}
.right-panel {
  width: 100%;
  min-width: 800px;
  box-sizing: border-box;
}
.right-panel {
  background: rgba(42, 46, 65, 0.7);
}
.right-panel__calendar {
  display: flex;
  flex-direction: column;
}
.calendar__month {
  height: 100%;
  min-height: 214px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.calendar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  font-size: 1.2857rem;
  line-height: 1.4rem;
  color: #ffffff;
  margin: 0 122px;
}

.button-action {
  width: 18px;
  height: 36px;
  box-sizing: border-box;
  transition: 0.1s linear 0s;
}

.button-action:hover {
  width: 20px;
  height: 38px;
}
.calendar__button {
  width: 18px;
  height: 36px;
  box-sizing: border-box;
  margin: 0 102px 0 99px;
}
.calendar__button:first-child {
  margin-right: 0;
}
.calendar__button:last-child {
  margin-left: 0;
}
.calendar__month::before,
.calendar__month::after {
  content: "";
  position: absolute;

  display: block;
  box-sizing: border-box;

  width: 599px;
  height: 2px;
}

.calendar__month::before {
  background: #000000;
  bottom: -2px;
  opacity: 0.17;
}

.calendar__month::after {
  background: #ffffff;
  bottom: -4px;
  opacity: 0.13;
}
.calendar__dates {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 846px;
  padding: 0 102px 0 99px;
}
.calendar__day-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  min-height: 120px;
  margin: 24px 0 0 0;
  box-sizing: border-box;
  padding: 0 0 0 2px;
  list-style: none;
}
.calendar__day-name {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.9285rem;
  line-height: 1;
  max-width: 86px;
  min-height: 31px;
  color: #ffffff;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar__days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  min-height: 726px;
  margin: 48px 0 0 0;
  list-style: none;
  padding: 0;
}
.calendar__day {
  flex: 1 0 14%;
  height: 130px;
  width: 100%;
  height: 100%;
  max-width: 86px;
  min-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__day-link {
  text-decoration: none;
  border-radius: 50%;
  font-size: 1.0357rem;
  width: 100%;
  height: 100%;
  max-width: 80px;
  min-height: 80px;
  background: transparent;
  transition: background-color 0.6s linear 0s;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__day--not-in-current-month {
  text-decoration: none;
  border-radius: 50%;
  font-size: 1.0357rem;
  width: 100%;
  height: 100%;
  max-width: 80px;
  min-height: 80px;
  background: transparent;
  transition: background-color 0.6s linear 0s;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.todays-date {
  width: 100%;
  height: 100%;
  max-width: 80px;
  min-height: 80px;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.6s linear 0s;
  background: #3c82f9;
}
.calendar__day-link:hover,
.calendar__day--not-in-current-month:hover {
  background: #3c82f9;
}
.calendar__dates::before,
.calendar__dates::after {
  content: "";
  position: absolute;

  display: block;
  box-sizing: border-box;

  width: 599px;
  height: 2px;
}

.calendar__dates::before {
  background: #000000;
  bottom: -2px;
  opacity: 0.17;
}

.calendar__dates::after {
  background: #ffffff;
  bottom: -4px;
  opacity: 0.13;
}
.right-panel__categories {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 0 102px 0 99px;
}
.categories__title {
  font-size: 0.9285rem;
  line-height: 1;
  color: #ffffff;
  margin: 109px 0 42px 0;
}
.categories__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttons-action {
  display: flex;
  flex: 0 0 285px;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 80px;
  font-size: 0.7857rem;
  line-height: 0.8666;
  text-decoration: none;
  color: #ffffff;
  margin-right: 28px;
  margin-bottom: 30px;

  border-radius: 12px;
}

.buttons-action:nth-child(2) {
  margin-right: 0;
}
.buttons-action:nth-child(3) {
  margin-right: 0;
  margin-bottom: 0;
}
.button-finance {
  background: #8576ed;
  transition: background-color 0.6s linear 0s;
}
.button-finance:hover {
  background: #ffffff;
  color: #8576ed;
}
.button-management {
  background: #f39946;
  transition: background-color 0.6s linear 0s;
}
.button-management:hover {
  background: #ffffff;
  color: #f39946;
}
.button-design {
  background: #ff467e;
  transition: background-color 0.6s linear 0s;
}
.button-design:hover {
  background: #ffffff;
  color: #ff467e;
}
