.board {
  width: 40vw;
  height: 40vw;

  margin: 10px auto;

  border: 1px solid;

  position: relative;

  box-sizing: border-box;
}

.board__item {
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
  user-select: none;

  display: flex;
  width: 25%;
  height: 25%;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid #000;
  font-size: 5em;

  transition: all 0.6s ease-in 0s;
  will-change: top, left;

  overflow: hidden;

  --layerX: 0;
  --layerY: 0;
}

.board__item--can-move::after,
.board__item--cant-move::after {
  content: "";

  position: absolute;
  top: var(--layerY);
  left: var(--layerX);
  transform: translate(-50%, -50%);

  width: 290%;
  height: 290%;

  border-radius: 50%;
  background: rgb(0, 200, 0, 0.5);

  animation: moveAnimation 0.5s linear 0s 1;

  z-index: -1;
}

.board__item--cant-move::after {
  background: rgb(200, 0, 0, 0.5);
}

@keyframes moveAnimation {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.board__steps-counter {
  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translate(-50%, 120%);
}
