body {
  margin: 0;
  box-sizing: border-box;
}

.header,
.footer {
  padding: 25px 0;
  background-color: #845ec2;
}

.nav {
  margin: 20px 0;
}

.nav__container-item {
  background-color: #d65db1;
  padding: 10px;
  border: 1px dashed #ffc75f;
}

.nav__container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main__item {
  padding: 0;
  background-color: #ff6f91;
  border: 1px dashed #2c73d2;
}

.main__item--a {
  padding-top: 45%;
  background-color: #ff9671;
}

.main__item--b {
  padding-top: 45%;
  background-color: #ffc75f;
}

.article__item {
  padding: 25px 0;
  background-color: #f9f871;
  border: 1px dashed #008f7a;
}

.nav__container {
  display: grid;
  gap: 5px;
}

.main {
  display: grid;
  gap: 10px;
}
.article {
  display: grid;
  gap: 5px;
}
.footer {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .main {
    grid-template-areas: "main-a main-a" "main-b1 main-b2" "article article";
  }
  .nav__container {
    grid-template-areas: "nav-item nav-item nav-item nav-item nav-item nav-item nav-item nav-item nav-item";
  }
  .main:nth-child(2) {
    grid-area: main-b1;
  }
  .main:nth-child(3) {
    grid-area: main-b2;
  }
  .main__item--a {
    grid-area: main-a;
  }
  .article {
    grid-area: article;
    grid-template-areas: "article-item1 article-item2 article-item3" "article-item1 article-item2 none";
  }
  .article:nth-child(1) {
    grid-area: article-item1;
  }
  .article:nth-child(2) {
    grid-area: article-item2;
  }
  .article:nth-child(3) {
    grid-area: article-item3;
  }
}
@media (min-width: 1600px) {
  .main {
    grid-template-areas: "main-a main-b1 article" "main-a main-b2 article";
  }
  .article {
    grid-template-areas: "article-item1" "article-item1" "article-item1" "article-item1" "article-item1";
  }
}
